body{
    background-color: #190f73;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;


}
@font-face {
    font-family: Domyouji;
    src: url("Domyouji.ttf") format("truetype");

}
@font-face {


    font-family: Advert MF;
    src: url("Advert MF.ttf") format("truetype");
    font-weight: 1 1000;
}

@keyframes fadeInUp{
    0% {

        transform: scale3d(0,0,1);
        opacity: 0;
    }
    100% {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}


.title     {
    animation: 3s fadeInUp ease-out forwards;
}


.subheading {
    animation: 2s fadeInUp ease-out forwards;
}

#head {
    animation: 1.5s fadeInUp ease-out forwards;
}
#head{
padding-bottom: -10px;
   border:8.8vw solid white;
    border-image: url("starburst-four-pointwhite.svg") 32% round;


    background-color: #190f73;

    ;
}
.subheading{
    margin-bottom: -5vw;
    font-size: 3vw;
    color: white;
    font-family: Advert MF;
    src: url("Advert MF.ttf") format("truetype");

}

.title{

    font-size: 10vw;

    color: white;
   font-family: Advert MF;

}


#text{
    display: flex;
    font-size: 3.2vw;
    padding-left: 3vw;

    height:68vh;
    color: white;
    font-family: Domyouji;



}

#flex-R{
    padding-left: 10vw;
    padding-top: 7%;
}

#photo{

    /* font-family: Bog Standard;
    src: url("Bog Standard.ttf") format("truetype"); */
    transition: transform 1s ease;
}
#photo:hover {

    transform: scale(1.5);
    transition-duration: 1s;
    transition-delay: 150ms;
    transition-timing-function: ease-out;

}
    #program{

    /* font-family: Bandwidth Bandless BRK;
    src: url("Bandwidth Bandless BRK.ttf") format("truetype"); */
        transition: transform 1s ease;
}
    #program:hover {
        transform: scale(1.5);
        transition-duration: 1s;
        transition-delay: 150ms;
    }

#audio{
    font-family: Domyouji;
    src: url("Domyouji.ttf") format("truetype");
    transition: transform 1s ease;
}
        #audio:hover {
            transform: scale(1.5);
            transition-duration: 1s;
            transition-delay: 150ms;

        }

svg {
    stroke-dasharray: 20;
}
.paperOverlay {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0;
    right: 0;
    background-repeat: repeat;

    background-image: url("heather-green-OIKBzKrTdxA-unsplash.jpg");
    opacity: 0.6;
    mix-blend-mode: multiply;
    pointer-events: none;
}
.title a{
    text-decoration: none;
    color: inherit;
}
.text a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 480px) {
    #text {
        display: inline; !important;
        font-size: 5vw;
    }
    #flex-R{
        padding-left: 50%;

    }
    .title{
        font-size:16vw;
    }
  #head {

          height: calc(var(--vh, 1vh) * 100);

  }
}

