@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



body {
    padding-bottom: 6vmax;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

    font-family: Poppins;
    font-size: 1.5vw;
    background-color: whitesmoke;
}


#generated_image{
    margin-left: auto;
    margin-right: auto;

    height: auto;
    width: 45vh;
    display: none;
    margin-bottom: 3vmax;
}


canvas{
    display: none;
}
#range-select{
    display: none;
}

#spotify{

    width: 3.5vmax;
    height: auto;
    padding-left: 10vw;

}

header {
     padding: 2vw;

    display:flex;
    align-items:center;
     /*background: #1abc9c;*/

     font-size: 30px;
 }

#title{
font-size: 4vmax;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    /*margin-bottom: 1em;*/
    padding: .25em;
    border: 0;
    font-size: 2vmax;
    border-bottom: 2px solid currentcolor;
    font-weight: bold;
    /*letter-spacing: .15em;*/
    border-radius: 0;
    width: auto;
    height: auto;

}
#range-label{

    font-size: 2vmax;
}#login_button
 {

     background-color: #1db954;
     border: 2px solid #422800;
     border-radius: 30px;
     box-shadow: #422800 4px 4px 0 0;
     color: #422800;
     cursor: pointer;
     display: inline-block;
     font-weight: 600;
     font-size: 2vmax;
     padding: 0 18px;
     /*line-height: 30px;*/
     text-align: center;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
 }

#login_button:hover {
    background-color: #fff;
}

#login_button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    #login_button {
        min-width: 120px;
        padding: 0 25px;
    }
}

#options{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
footer {

    position: fixed;

     left: 0;
     bottom: 0;
     width: 100%;
    font-size: 1vmax;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
     background-color: white;
     text-align: center;
 }

#description{
    font-size: 2vmax;
    text-align: center;
}