#otters{
    display: none;
}

:root {
    --width:40%;
    --height:calc(var(--width) / 2);
}


body {
    background-color: black;
}

.ball {
    width: var(--width);
    height: var(--height);
    background-size: contain;
    background: no-repeat;
    background-size: contain;
    position:absolute;

    animation: toRight linear 6.8s infinite alternate   , bounce linear 17s infinite alternate;
}

@keyframes bounce {
    0% {
        top:0;

    }
    48% {
    }
    50% {
        top: calc(100% - var(--height));
    }
    52% {
    }
    100% {
        top: 0;
    }
}

@keyframes toRight {

    0% {
        left: 0;

    }

    100% {
        left: calc(100% - var(--width));
    }
}

@media (max-width: 480px) {

}